* {
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

.container {
  display: flex;
  margin: 10px;
}
.listContainer {
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid red;
  display: grid;
  gap: 10px;
}
.todoListItem {
  text-align: left;
  border: 1px solid blue;
}
